#board {
  background-color: turquoise;
  height: 600px;
  width: 600px;
  margin: 0 auto;
  margin-top: 70px;
}

.square {
  display: inline-block;
  height: 6.25%;
  width: 6.25%;
  background-color: turquoise;
  margin: 0;
  margin-top: -4px;
  clear: right;
}

.buttons {
}

.buttons button {
  background-color: pink;
  color: white;
  font-family: 'Fresca', sans-serif;
  font-size: 24px;
  margin-top: 250px;
  margin-left: 25px;
}

#clear {
  height: 50px;
  width: 125px;
  position: absolute;

}

#new {
  height: 50px;
  width: 250px;
}

/*p {
  font-family: 'Fresca', sans-serif;
  clear: auto;
}

.text {
  width: 300px;
}*/
